#bsp-purchased {
	height: 400px;
	overflow-y: auto;
}

#bsp-search-results {
	height: 300px;
	overflow-y: auto;
}

#bigstock-media-search-form {
	position: relative;
}

#bigstock-media-search-form #edit-q {
	font-size: 18px;
	padding: 4px;
	width: 320px;
}

#bigstock-media-search-form #edit-advanced {
	position: absolute;
	top: 14px;
	right: 0;
	width: 380px;
}

div.bsp-search-result {
	display: inline-block;
	height: 120px;
	width: 120px;
	padding: 5px;
	box-sizing: border-box;
}

div.bsp-search-result span {
	display: inline-block;
	width: 110px;
	height: 110px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

div.bsp-search-result:hover {
	background-color: #eee;
}

#media-tab-bigstock_media {
	padding: 0 !important;
}

#media-tab-bigstock_media #edit-advanced div.form-item {
	display: block;
	float: left;
	padding-right: 20px;
}

#dialog-purchase-confirm, #dialog-already-purchased {
	display: none;
}

#bigstock_media-tab-purchased, #bigstock_media-tab-search {
	display: inline-block;
}

#bigstock_media-header {
	width: 100%;
	height: 39px;
	background-image: url(../images/header-bkgd.png);
	position: relative;
}

#bigstock_media-logo {
	width: 88px;
	height: 25px;
	position: absolute;
	top: 6px;
	left: 6px;
	background-image: url(../images/logo.png);
}

#bigstock_media-btn-purchased {
	cursor: pointer;
	width: 145px;
	height: 25px;
	position: absolute;
	top: 6px;
	right: 15px;
	background-image: url(../images/btn-purchased-light.png);
	opacity: 0.5;
}

#bigstock_media-btn-search {
	cursor: pointer;
	width: 70px;
	height: 25px;
	position: absolute;
	top: 6px;
	right: 168px;
	background-image: url(../images/btn-search-light.png);
	opacity: 0.5;
}

#bigstock_media-btn-purchased.active, #bigstock_media-btn-search.active {
	height: 29px !important;
	opacity: 1.0 !important;
}

#bigstock_media-screen-wrapper {
	padding: 1em 1.4em;
}

#bigstock_media-screen-purchased {
	display: none;
}

div.bsp-purchased-thumbnail img {
	cursor: pointer;
	border: solid 1px #ccc;
	padding: 1px;
}

div.bsp-purchased-thumbnail img:hover {
	border-color: #555 !important;
}